/* HeroNavButtonsContainer */

.navbar {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  top: 0;
  right: 159px;

  &__button {
    padding: 16px 30px 16px 30px;
  }

  &__button-text {
    @include font-source-subheader(
      13px,
      16px,
      0.06em,
      3px,
      center,
      false,
      600,
      #373737
    );
  }

  &__button-text:hover {
    color: #adadad;
    cursor: pointer;
  }
}
