&__title {
  @include font-source-header(
    $size: 2.5em,
    $color: #2e2c5f,
    $weight: bold,
    $lineHeight: 370px,
    $letterSpace: 0.03em
  );
  font-family: Rubik Bold;
  @include responsive-font(3.1vw, 1.45em, 2.5em);
  position: static;
  mix-blend-mode: normal;

  height: 15px;

  @include respond(phone-narrow) {
    width: 10em;
    margin: auto;
    text-align: center;
    padding-bottom: 2.5em;
  }
}
