&__subtitle {
  @include font-source-subheader(
    $size: 1.5em,
    $color: #767676,
    $lineHeight: 25px,
    $letterSpace: 0.04em,
    $textIndent: 3px
  );
  @include responsive-font(2.1vw, 1em, 1.3em);
  margin-top: 10px;
  height: 25px;

  @include respond(tab-land) {
    letter-spacing: 0.04em;
  }
  @include respond(phone-narrow) {
    margin: auto;
    text-align: center;
  }
}
