&__title {
  @include font-source-header(
    $size: 2em,
    $color: #2e2c5f,
    $weight: bold,
    $lineHeight: 32px,
    $letterSpace: 0.05em
  );
  font-family: Rubik Bold;
  @include responsive-font(4.1vw, 1.2em, 2em);
  mix-blend-mode: normal;

  height: 10px;
  @include respond(phone) {
    line-height: 22px;
  }
  @include respond(phone-narrow) {
    width: 10em;
    margin: auto;
    text-align: center;
    padding-bottom: 2em;
  }
}
