// Call To Action Styles
.cta-backdrop__container {
  @include flexBox();
  position: sticky;
  min-height: 856px;
  z-index: 1;
  overflow: hidden;
  /*
    @include respond(desktop) {
        min-height: 986px;
    }
    */

  @include respond(tab-land) {
    min-height: 730px;
  }
  @include respond(phone) {
    min-height: 1306px;
  }
}

/* SVGs */
.cta-backdrop__image {
  position: absolute;
  width: 33em;
  height: auto;
  top: 17%;
  right: 0;
  @include respond(phone) {
    display: none;
  }
  @include respond(tab-land) {
    width: 25em;
    top: -5%;
  }
  @include respond(tab-port) {
    top: 0%;
    width: 18em;
  }
}

.cta-backdrop-mobile__image {
  position: absolute;
  right: -40px;
  display: none;
  top: 150px;
  overflow: hidden;
  @include respond(phone) {
    display: initial;
    width: 90vw;
  }
  @include respond(phone-narrow) {
    top: 120px;
  }
  @include respond(smallest) {
    top: 10px;
  }
}
