/* mixins.scss */

// ============================================================================
// Media Queries
// ============================================================================

@mixin respond($breakpoint) {
  @if ($breakpoint == smallest) {
    @media (max-width: 422px) {
      @content;
    }
  }
  @if ($breakpoint == phone-narrow) {
    @media (max-width: 35em) {
      @content;
    }
  }
  @if ($breakpoint == phone) {
    @media (max-width: 42.5em) {
      @content;
    }
  }
  @if ($breakpoint == tab-port) {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if ($breakpoint == tab-land) {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if ($breakpoint == mission) {
    @media (max-width: 85.5em) {
      @content;
    }
  }
  @if ($breakpoint == desktop) {
    @media (max-width: 112.5em) {
      @content;
    }
  }
  @if ($breakpoint == big-desktop) {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

// =============================================================================
// String Replace (https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6)
// =============================================================================

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

// ============================================================================
// Responsive Fonts
// ============================================================================

///
/// Viewport sized typography with minimum and maximum values
///
/// @author Eduardo Boucas (@eduardoboucas)
///
/// @param {Number}   $responsive  - Viewport-based size
/// @param {Number}   $min         - Minimum font size (px)
/// @param {Number}   $max         - Maximum font size (px)
///                                  (optional)
/// @param {Number}   $fallback    - Fallback for viewport-
///                                  based units (optional)
///
/// @example scss - 5vw font size (with 50px fallback),
///                 minumum of 35px and maximum of 150px
///  @include responsive-font(5vw, 35px, 150px, 50px);
///
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}

// ============================================================================
// Body Font Source
// ============================================================================

@mixin font-source-body(
  $size: false,
  $lineHeight: false,
  $letterSpace: false,
  $textIndent: false,
  $textAlign: false,
  $fontStyle: false,
  $weight: false,
  $color: false
) {
  font-family: SofiaProSoftW01-Regular;
  @if ($size) {
    font-size: $size;
  }
  @if ($lineHeight) {
    line-height: $lineHeight;
  }
  @if ($letterSpace) {
    letter-spacing: $letterSpace;
  }
  @if ($textIndent) {
    text-indent: $textIndent;
  }
  @if ($textAlign) {
    text-align: $textAlign;
  }
  @if ($fontStyle) {
    font-style: $fontStyle;
  }
  @if ($weight) {
    font-weight: $weight;
  }
  @if ($color) {
    color: $color;
  }
}

// ============================================================================
// Subheader Font Source
// ============================================================================

@mixin font-source-subheader(
  $size: false,
  $lineHeight: false,
  $letterSpace: false,
  $textIndent: false,
  $textAlign: false,
  $fontStyle: false,
  $weight: false,
  $color: false
) {
  font-family: AvenirBook;
  @if ($size) {
    font-size: $size;
  }
  @if ($lineHeight) {
    line-height: $lineHeight;
  }
  @if ($letterSpace) {
    letter-spacing: $letterSpace;
  }
  @if ($textIndent) {
    text-indent: $textIndent;
  }
  @if ($textAlign) {
    text-align: $textAlign;
  }
  @if ($fontStyle) {
    font-style: $fontStyle;
  }
  @if ($weight) {
    font-weight: $weight;
  }
  @if ($color) {
    color: $color;
  }
}

// ============================================================================
// Header Font Source
// ============================================================================

@mixin font-source-header(
  $size: false,
  $lineHeight: false,
  $letterSpace: false,
  $textIndent: false,
  $textAlign: false,
  $fontStyle: false,
  $weight: false,
  $color: false
) {
  font-family: Rubik;
  @if ($size) {
    font-size: $size;
  }
  @if ($lineHeight) {
    line-height: $lineHeight;
  }
  @if ($letterSpace) {
    letter-spacing: $letterSpace;
  }
  @if ($textIndent) {
    text-indent: $textIndent;
  }
  @if ($textAlign) {
    text-align: $textAlign;
  }
  @if ($fontStyle) {
    font-style: $fontStyle;
  }
  @if ($weight) {
    font-weight: $weight;
    @if ($weight: bold) {
      font-family: Rubik Bold;
    }
    @if ($weight: normal) {
      font-family: Rubik Regular;
    }
  }
  @if ($color) {
    color: $color;
  }
}

// ============================================================================
// Main Font Source
// ============================================================================

@mixin h1 {
  @include font-source-header(
    $size: 2.5em,
    $color: #2e2c5f,
    $lineHeight: 70px,
    $letterSpace: 0.05em,
    $weight: bold
  );
  text-transform: uppercase;
  font-family: Rubik Bold;
  @include responsive-font($responsive: 4vw, $min: 25px, $max: 35px);
  @include respond(phone) {
    line-height: 22px;
  }
}

// ============================================================================
// Responsive SVG
// ============================================================================

@mixin svgContainer() {
  display: inline-block;
  position: static;
  width: 100vw;
  vertical-align: middle;
  overflow: hidden;
}

.responsive-svg-container {
  @include svgContainer();
}

@mixin svgContent() {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.responsive-svg-content {
  @include svgContent();
}

// ============================================================================
// Flex Containers
// ============================================================================

@mixin flexBox() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-box {
  @include flexBox();
}

@mixin flexRow() {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.flex-row {
  @include flexRow();
}

@mixin flexColumn() {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: space-between;
}

.flex-column {
  @include flexColumn();
}
