.footer-view-container {
  margin: auto;
  position: relative;
  height: 6em;
  bottom: 0;
  @include respond(desktop) {
  }
  @include respond(mission) {
  }
  @include respond(tab-port) {
  }
  @include respond(phone) {
    height: 20.5em;
  }
  @media (max-width: 735px) {
  }
}

.footer-view-content__container {
  position: absolute;
  width: 100%;
}

@import './buttons/buttons';
@import './text/text';
