&__title {
  @include font-source-header(
    $size: 2.4em,
    $color: #262626,
    $weight: bold,
    $lineHeight: 34px,
    $letterSpace: 0.05em
  );
  @include responsive-font(4.1vw, 1.5em, 2.4em);
  font-family: Rubik Bold;
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  word-wrap: break-word;
}

&__divider {
  border: 1.5px solid #2e2c5f;
  display: block;
  width: 35em;
  margin: 22px auto 49px;
  @include respond(phone) {
    width: 25em;
  }
  @include respond(phone-narrow) {
    width: 20em;
  }
  @include respond(smallest) {
    width: 15em;
  }
}

&__logos {
  display: block;
  margin: 0 auto;
  margin-top: -50px;
  @include respond(tab-port) {
    max-width: 600px;
    margin-top: -2em;
  }
  @include respond(phone) {
    max-width: 500px;
  }
  @include respond(phone-narrow) {
    max-width: 400px;
  }
  @include respond(smallest) {
    max-width: 300px;
  }
}

&__boxContainer {
  @include flexBox();
  position: relative;
  flex-direction: column;
}
